import('sprites/*')
import('helpers/svg-size')
@import 'helpers/variables'
@import 'helpers/optimize'
@import 'helpers/mixins'
@import 'helpers/lost-mixins'
@import 'inline/fonts'
@import 'helpers/common'

// import mixins and variables for bootstrap
@import 'my-bootstrap/index'

// partial bootstrap styles copy
@import 'my-bootstrap/buttons'
@import 'my-bootstrap/scaffolding'
@import 'inline/bootstrap-carousel'
@import 'my-bootstrap/nav'
@import 'my-bootstrap/navbar'

// bootstrap
@import "bootstrap/component-animations"

// blocks styles
@import '../blocks/button/button'
@import '../blocks/header/header'
@import '../blocks/welcome-slider/welcome-slider'
@import '../blocks/ws-slide/ws-slide'
@import '../blocks/logo/logo'
@import '../blocks/nav-link/nav-link'
@import '../blocks/navigation/navigation'
@import '../blocks/page/page'
@import '../blocks/main/main'
@import '../blocks/who-we-are/who-we-are'
