.carousel-inner-vertical
	position relative
	overflow hidden
	width 100%

	> .item
		position relative
		display none
		transition .6s ease-in-out all

		@media all and (transform-3d), (-webkit-transform-3d)
			transition-transform(.6s ease-in-out)
			backface-visibility(hidden)
			perspective(1000px)

			&.next,
			&.active.right
				transform translate3d(0, 100%, 0)
				top 0

			&.prev,
			&.active.left
				transform translate3d(0, -100%, 0)
				top 0

			&.next.left,
			&.prev.right,
			&.active
				transform translate3d(0, 0, 0)
				top 0

	> .active,
	> .next,
	> .prev
		display block

	> .active
		top 0

	> .next,
	> .prev
		position absolute
		left 0
		width 100%

	> .next
		top 450px

	> .prev
		top -450px

	> .next.left,
	> .prev.right
		top 0

	> .active.left
		top -450px

	> .active.right
		top 450px
		// IE doesn't understand top in '%'
