// Buttons
$btn-font-weight = 700

//Carousel
$carousel-control-width = 7.5%
$carousel-indicator-active-bg = $highlight-color
$carousel-indicator-border-color = #fff

// Basics of a navbar
$navbar-height = 55px
$navbar-default-color =  #f4f5f9
$navbar-default-bg =  transparent

// Navbar links
$navbar-default-link-color =  #f4f5f9
$navbar-default-link-hover-color = $highlight-color
$navbar-default-link-hover-bg =  transparent
$navbar-default-link-active-color = #f4f5f9
$navbar-default-link-active-bg = transparent

// Navbar brand label
$navbar-default-brand-color = #fff
$navbar-default-brand-hover-color = #fff
$navbar-default-brand-hover-bg = transparent

// Navbar toggle
$navbar-default-toggle-hover-bg = $highlight-color
$navbar-default-toggle-icon-bar-bg = #fff
$navbar-default-toggle-border-color = #fff

// Shared nav styles
$nav-link-padding = 0

// Point at which navbar collapses
$grid-float-breakpoint = 992px
