mixin who-we-are()
	+b.SECTION.who-we-are&attributes(attributes)
		header.sr-only
			h3 Who we are
		+e.container
			+e.col.sleek-design
				+e.H4.header Sleek design
				+e.P.p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			+e.col.clean-code
				+e.H4.header Clean code
				+e.P.p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			+e.col.creative-ideas
				+e.H4.header Creative ideas
				+e.P.p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
			+e.col.free-support
				+e.H4.header Free support
				+e.P.p Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
