include ../button/button

mixin aside()
	+b.ASIDE.aside.bg-load&attributes(attributes)
		+e.H2.header Let's get started now.
			+e.B.b It's FREE!
		+e.P.p 30 day free trial. Free plan allows up to 2 projects. Pay if you need more. Cancel anytime. No catches.
		+button._aside.__button Start free trial
