.button
	@extends .btn
	button-variant(#fff, $highlight-color, $highlight-color) // color, background, border
	font-family $OpenSans
	text-transform uppercase

	// Buttons for welcome slider
	&_ws
	&_history
		margin-x(13px)
		margin-bottom 13px
		display block

		+above('sm')
			display inline-block
			min-width 200px

		+above('md')
			button-size(20px, 20px, 14px, 1em, 2px) // padding-vertical, padding-horizontal, font-size, line-height, border-radius
			width 225px


	&_ws_transp
		button-variant(#fff, transparent, #fff)

		+above('md')
			padding-y(18px)

	&_history
		margin-left 0
		box-shadow 0 2px 4.75px .25px rgba(0, 0, 0, .25)

	&_cs
		button-size(16px, 20px, 12px, 1em, 2px)
		margin-left 2px
		width 145px
		box-shadow 0 2px 4.75px .25px rgba(0, 0, 0, .25)
