bottom-design($line-color=#fff)
	// headers decoration
	// ---- o ----
	// under element
	position relative

	&:before
	&:after
		position absolute
		left 50%
		content ''

	&:before
		bottom 0
		margin-left -98px
		width 80px
		height 1px
		background-color $line-color
		box-shadow 116px 0 0 0 $line-color

	&:after
		bottom -3px
		margin-left -4px
		width 7px
		height 7px
		background-color $highlight-color
		border-radius 50%
