$OpenSans = 'Open Sans', sans-serif
$SourceSansPro = 'Source Sans Pro', sans-serif

$light-color = #999999
$dark-color = #6a6a6a
$highlight-color = #e74c3c

rupture.scale = 0 480px 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md' 'lg' 'xl'
