include ../about-us/about-us
include ../recent-works/recent-works
include ../case-study/case-study
include ../pricing/pricing
include ../team/team
include ../integrations/integrations

mixin main()
	+b.MAIN.main&attributes(attributes)
		+about-us
		+recent-works
		+case-study
		+pricing
		+team
		+integrations
