.logo
	padding-top 11px
	padding-right 10px
	padding-left 0
	padding-bottom 11px
	display inline-block
	font-family $OpenSans
	font-size 36px
	font-weight 300
	line-height 24px
	text-decoration none
	text-transform uppercase
	letter-spacing .03em
	color #fff
	border 3px solid #fff

	&
	&:hover
	&:active
	&:focus
		text-decoration none

	&:first-letter
		margin-right 10px
		margin-left -2px
		padding 0 13px 0 13px
		font-weight 700
		color #31353f
		background-color #fff

	&:hover:first-letter
		color $highlight-color
