.article
	padding-top 136px
	text-align center

.article__header
	font-family $SourceSansPro
	font-size 36px
	font-weight 700
	letter-spacing .1em
	text-transform uppercase
	color $dark-color

.article__post-header
	bottom-design($light-color)
	padding-top 13px
	padding-bottom 26px
	font-family $OpenSans
	font-size 14px
	line-height 29px
	letter-spacing .015em
	color $light-color

.article__post-header_color_white
	@extends .article__post-header
	bottom-design(#fff)
