include ../button/button

mixin history()
	+b.SECTION.history&attributes(attributes)
		+e.container.bg-load
			+e.col
				header
					+e.H3.header Our history
				+e.P.p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unk&shy;nown printer took a galley of type and scrambled it to make a type specimen book.
				+e.P.p It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets contain&shy;ing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus Page&shy;Maker including versions of Lorem Ipsum.
				+button._history.__button Browse our work
