mixin check-stats()
	+b.check-stats.bg-load&attributes(attributes)
		+e.container
			+e.P.stat.favourites
				+e.num 3891
				| User favourites
			+e.P.stat.last-posts
				+e.num 281K
				| Posts last 24 hours
			+e.P.stat.total-posts
				+e.num 618
				| Total posts
			+e.P.stat.campaigns
				+e.num 178
				| Campaigns
			+e.P.stat.features
				+e.num 285
				| Amazing Features
