.ws-slide
	padding-x(7.5%) // offset for slider controls
	min-height 500px
	font-family $OpenSans
	text-align center
	color #f4f5f9

	+above('lg')
		padding-x(0)
		lost-center(900px)

.ws-slide__headline
	padding-bottom 20px
	font-family $SourceSansPro
	font-size 24px
	letter-spacing .05em

	+above('lg')
		margin-left -4px

h1
.ws-slide__header
	bottom-design()
	margin-bottom 41px
	padding-top 15px
	padding-left 9px
	padding-bottom 42px
	font-size 71px
	font-size responsive 32px 71px
	font-range 320px 992px
	font-weight 700
	letter-spacing .115em
	text-transform uppercase

.ws-slide__p
	lost-center(600px)
	margin-bottom 10px
	font-size 16px
	line-height 24px
	color #cbc6c0

	+above('md')
		padding-x(0)
		font-size 14px

.ws-slide__buttons
	margin-top 64px

	+above('lg')
		margin-left -2px
